
@{
    ViewData["Title"] = "Employee Payroll";
}

<head>
    <meta name="Author" content="Tom Williams and Jon Quick" />
    <meta name="Date Created" content="Sept 30 2019" />
    <title>Employee Payroll</title>
</head>

<body>
    
    <header>
        <center><h2>Overtime Table - This will include any hours over 40. then add a total.</h2></center>
    </header>
    <center>
    <table border="1">
        <caption><center><h1>Overtime Table</h1></center></caption>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Rate of Pay</th>
                <th>Hours Worked</th>
                <th>Pay Week</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>John Landry</td>
                <td>15.00</td>
                <td>35.50</td>
                <td>9/9/2019</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
        </center>

</body>

